body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKgptWn0V_s260-QnVU75bg8vU-INm5EZ9vtAOx0sLKSkZoZxI');
    background-size: cover;
    font-family: system-ui;
  }
#p-text{
    margin: 30px 30px 30px 10px;
    color: #0b538f;
    font-size: 26px;
    margin-left: 0px;
    font-family: system-ui;
  }